html, body {
  max-width: 60em; 
  background-color: #ffeead;
  margin: 10px auto;
}
.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffeead;
}
.container > div:nth-child(1n) {
  background-color: #96ceb4;	
}
.container > div:nth-child(2n) {
      background-color: #ff6f69;
}
.container > div:nth-child(3n) {
  background-color: #88bad8;
}
.container > div:nth-child(4n) {
      background-color: #ffcc5c;
}
.container > div:nth-child(5n) {
      background-color: #ff69df;
}