.container {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 20% auto 10%;
    grid-template-areas: 
        "h h h h h h h h h h h h"
        "a a c c c c c c c c m m"
        "f f f f f f f f f f f f";
}

.header {
    grid-area: h;
}

.menu {
    grid-area: m;
}
.aside {
    grid-area: a;
}
.content {
    grid-area: c;
}

.footer {
    grid-area: f;
}